[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config.symlink/nvim"]
	path = config.symlink/nvim
	url = git@github.com:hawkins/kickstart.nvim.git
